<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".VerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
