<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".terms.TermsContentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".terms.TermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignupRootActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".email.EmailActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.PhoneVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.PhoneAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name="tht.feature.signin.prelogin.PreloginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
